/* Colors Variables: */

:root{
    --color-1: #ff009c;
    --color-2: #aa0068;
    --color-3: #710045;
    --color-4: #00fcc6;
    --accent-1: #ffba00;
    --background: black;
}
/* 
--color-1: #8e62ef;
--color-2: #5138f7;
--color-3: #1418e9;
--color-4: #080ac4;
--accent-1: #ffba00; */

/* #e97393 */

/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Julius+Sans+One&family=Silkscreen:wght@400;700&family=Tiny5&display=swap');

@font-face {
    font-family: 'aileron';
    src: url(../fonts/Aileron-Regular.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aileron';
    src: url(../fonts/Aileron-Black.otf);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'aileron';
    src: url(../fonts/Aileron-ThinItalic.otf);
    font-weight: lighter;
    font-style: italic;
}

@font-face {
    font-family: 'office';
    src: url(../fonts/OfficeCodePro-Light.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'garamond';
    src: url(../fonts/EBGaramond12-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

/* General */

*{
    font-size: 16pt;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

body{
    background-color: var(--background);
    color: white;
}

section{
    height: 100vh;
    width: 100%;
}

img {
    width: 100%;
    height: auto;
}

/* Socials box: */

.socials-box{
    position: fixed;
    top: 4.5em;
    background-color: var(--background);
    /* 314/1080 */
    width: 16.35%;
    display: flex;
    border-bottom: 2px solid var(--color-4);
    flex-direction: column;
    gap: 2.5em;
    font-family: "garamond";
}

/* .socials-box::after{
    content: '';
    position: absolute;
    bottom: -.25em;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, #00fcc6, black, #00fcc6);
    background-size: 200% 100%;
    animation: animateBorder 10s linear infinite;
    filter: blur(.0005em);
} */

@keyframes animateBorder {
    0% {
        background-position: -200% 0;
    }
    100% {
        background-position: 200% 0;
    }
}

.socials-box > * {
    margin: 0 0 0 1em;
}

.socials-box > div {
    font-size: 18pt;
}

.socials-box * > a {
    color: var(--color-4);
}

.socials-box * > a:hover {
    text-decoration: underline var(--color-1);
}

.socials-box > ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    gap: 0.625em;
}

.socials-box * > .icon-box {
    width: 2em;
    opacity: 25%;
    filter: invert(100%);
}

.socials-box * > .icon-box:hover{
    opacity: 100%;
    /* Barret Sonntag's CSS filter black -> hex color generator: */
    filter: invert(39%) sepia(97%) saturate(7497%) hue-rotate(314deg) brightness(101%) contrast(116%);
}

/* Fibonacci Nav Bar: */

.nav{
    position: fixed;
    /* 72/1080 */
    top: 6.66%;
    /* 72/1920 */
    right: 3.75%;
}

.nav-item{
    font-family: 'aileron';
    font-weight: lighter;
    font-style: italic;
    height: 10px;
    width: 10px;
    position: relative;
}

@keyframes animateNavItem {
    0% {
        background-position: -300% 0;
    }
    100% {
        background-position: 300% 0;
    }
}

/* .nav-item::after{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: inherit;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 2px;
    border-radius: 2px;
    filter: blur(1.5em);
} */

.nav-item > * {
    visibility: hidden;
}

.nav-item div {
    height: 100%;
    width: 100%;
    text-align: center;
    align-content: center;
}

.nav-item > a {
    color: white;
}

/* Backgrounds: */

.step-a{
    background-color: black;
    background-image: url(../img/nav/janbrueghel.png);
    background-size: 300% 100%;
    animation: animateNavItem 25s linear infinite;
    background-blend-mode: screen;

}

.step-b{
    background-color: var(--color-1);
}

.step-c{
    background-color: var(--color-2);

    background-blend-mode:screen;
}

.step-d{
    background-color: var(--color-3);
    /* background-image: url(../img/nav/pieterclaisez.png);
    background-size: 300% 100%;
    /* background-position: -90%; */
    /* animation: animateNavItem 25s linear infinite; */
}